* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

.item .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
